<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <!-- <add name="ConectaDBLucky" connectionString="Data Source=luckydc;Initial Catalog=BDLUCKYPRD;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient" /> -->
    <add name="ConectaDBLucky" connectionString="Data Source=luckydc;Initial Catalog=DBLUCKYPRD_BAK;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient" />
    <add name="ConectaDBLucky_BAK" connectionString="Data Source=luckydc;Initial Catalog=DBLUCKYPRD_BAK;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient" />
    <add name="ConectaDBLucky_Tmp" connectionString="Data Source=luckydc;Initial Catalog=BDLUCKYTMP_BAK;Persist Security Info=True;User ID=userdev;Password=systemadm" providerName="System.Data.SqlClient" />


  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="HtmlToExcelKey" value="Q6C133-981AX7-81773C-1D0200"/>
    <!--<add key="FotosEcuador" value="C:\AppMovilNextel\Pages\Modulos\Operativo\Reports\FotoAndroid\Ecuador\"/>-->
    <add key="FotosEcuador" value="D:\ProyectoXplora\Lucky_DataMercaderistaMVC\App_Data"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1073741824"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <!-- 1GB (the value is in Bytes) -->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <system.serviceModel>
  

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGes_Ecu_DMService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IGes_EcuOperativaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IGes_ClienteService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IGes_MapsService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IGes_OperativaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IGes_CampaniaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGes_Ecu_DMService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
        <binding name="WSHttpBinding_IGes_EcuOperativaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
        <binding name="WSHttpBinding_IGes_ClienteService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
        <binding name="WSHttpBinding_IGes_MapsService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
        <binding name="WSHttpBinding_IGes_OperativaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
        <binding name="WSHttpBinding_IGes_CampaniaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
          useDefaultWebProxy="true" allowCookies="false" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58700/Ges_OperativaService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGes_OperativaService"
        contract="ServicioGestionOperativa.IGes_OperativaService" name="WSHttpBinding_IGes_OperativaService">
        <identity>
          <servicePrincipalName value="host/localhost:58700" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58700/Ges_OperativaService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGes_OperativaService"
        contract="ServicioGestionOperativa.IGes_OperativaService" name="BasicHttpBinding_IGes_OperativaService" />
      <endpoint address="http://localhost:58700/Ges_MapsService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGes_MapsService"
        contract="ServicioGestionMaps.IGes_MapsService" name="WSHttpBinding_IGes_MapsService">
        <identity>
          <servicePrincipalName value="host/localhost:58700" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58700/Ges_MapsService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGes_MapsService"
        contract="ServicioGestionMaps.IGes_MapsService" name="BasicHttpBinding_IGes_MapsService" />
      <endpoint address="http://localhost:58700/Ges_ClienteService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGes_ClienteService"
        contract="ServicioGestionCliente.IGes_ClienteService" name="WSHttpBinding_IGes_ClienteService">
        <identity>
          <servicePrincipalName value="host/localhost:58700" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58700/Ges_ClienteService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGes_ClienteService"
        contract="ServicioGestionCliente.IGes_ClienteService" name="BasicHttpBinding_IGes_ClienteService" />
      <endpoint address="http://localhost:58700/Ges_CampaniaService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGes_CampaniaService"
        contract="ServicioGestionCampania.IGes_CampaniaService" name="WSHttpBinding_IGes_CampaniaService">
        <identity>
          <servicePrincipalName value="host/localhost:58700" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58700/Ges_CampaniaService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGes_CampaniaService"
        contract="ServicioGestionCampania.IGes_CampaniaService" name="BasicHttpBinding_IGes_CampaniaService" />
      <endpoint address="http://localhost:58700/Ges_EcuOperativaService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGes_EcuOperativaService"
        contract="ServicioEcuGestionOperativa.IGes_EcuOperativaService"
        name="WSHttpBinding_IGes_EcuOperativaService">
        <identity>
          <servicePrincipalName value="host/localhost:58700" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58700/Ges_EcuOperativaService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGes_EcuOperativaService"
        contract="ServicioEcuGestionOperativa.IGes_EcuOperativaService"
        name="BasicHttpBinding_IGes_EcuOperativaService" />
      <endpoint address="http://localhost:58700/Ges_Ecu_DMService.svc/ws"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGes_Ecu_DMService"
        contract="ServicioEcuDataMer.IGes_Ecu_DMService" name="WSHttpBinding_IGes_Ecu_DMService">
        <identity>
          <servicePrincipalName value="host/localhost:58700" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:58700/Ges_Ecu_DMService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGes_Ecu_DMService"
        contract="ServicioEcuDataMer.IGes_Ecu_DMService" name="BasicHttpBinding_IGes_Ecu_DMService" />
    </client>
  </system.serviceModel>
</configuration>